<!-- Left panel with reveal effect-->
<div class="panel panel-left panel-reveal">
  <div class='list-block'>
    <ul>
      <%= panel_link text: "New Post", icon: 'edit', path: new_post_path %>
      <%= panel_link text: "All Posts", icon: 'bars', path: posts_path %>
    </ul>
  </div>
</div>