<li>
  <%= link_to path, class: 'close-panel item-link' do %>
    <div class='item-content'>
      <div class='item-media'>
        <%= icon icon_name %>
      </div>
      <div class='item-inner'>
        <div class='item-title'><%= text %></div>
      </div>
    </div>
  <% end %>
</li>