<li>
  <%= link_to post, class: 'item-link item-content' do %>
    <div class='item-inner'>
      <div class='item-title-row'><%= post.title %></div>
      <div class='item-subtitle'><%= post.body %></div>
    </div>
  <% end %>
</li>