<div class="navbar">
  <div class="navbar-inner">
    <div class='left'>
      <a href='#' class='link icon-only open-panel'>
        <i class='icon icon-bars-blue'></i>
      </a>
    </div>
    <div class='center'>
      All posts
    </div>
  </div>
</div>


<div class="pages navbar-through toolbar-through">
  <div class='page'>
    <div class='page-content'>
      <div class='list-block media-list'>
        <ul>
          <%= render @posts %>
        </ul>
      </div>
    </div>
  </div>
</div>