<div class="navbar">
  <div class="navbar-inner">
    <div class='left'>
      <a href='#' class='link icon-only open-panel'>
        <i class='icon icon-bars-blue'></i>
      </a>
    </div>
    <div class='center'>
      <%= @post.title %>
    </div>
  </div>
</div>

<div class='page'>
  <div class='page-content'>
    
  </div>
</div>